h1 {
    font-size: 20px;
    color: #524D8C;
}

small {
    color: #9F9BD4;
}

p>span {
    font-weight: 300; 
    font-size: 14px; 
    color: #9F9BD4;
}

.text-dark {
    color: #222040; 
    font-weight: 300;
}

  .table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  
  .table-of-contents li a {
    font-size: 16px;
    color: #999;
  }
  
  p + p {
    margin: 30px 0 0 0;
  }

  .tt-hint {
    color: #9F9BD4
  }
  
  .tt-menu {
    width: 100%;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  }
  
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .tt-suggestion:hover {
    cursor: pointer;
    color: #524D8C;
  }

#videoPlayer {
    width: 100%;
}
