{% extends 'layouts/app.html' %}

{% block title %}<title>Test</title>{% endblock %}
{% block css %} 
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <style>



.vjs-matrix .vjs-big-play-button {
  border: none;
  background-color :#9F9BD4;
  width: 90px;
  height: 65px;
  top: calc(50% - 45px);
  left: calc(50% - 32.5px);
  position: relative;
}

.vjs-matrix:hover .vjs-big-play-button .vjs-icon-placeholder::before {
    color: #9F9BD4;
}

.vjs-matrix .vjs-big-play-button .vjs-icon-placeholder::before {
    line-height: 65px;
    font-size: 40px;
    position: absolute;
    color: #222040;
    top: 0;
}
/* Change the color of various "bars". */
.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
  background: #9b97d4;
}

.vjs-slider-bar::before, .vjs-matrix.video-js {
    color: #222040;
}

.vjs-control-bar, .vjs-menu-content {
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.vjs-button:focus {
    border: none !important;
    outline: none !important;
}


    </style>
{% endblock %}
{% block content %}

<section class="container pt-5">
  <div class="row">
      <div class="col-md-7">
          <video id="videoPlayer" class="video-js vjs-matrix" controls preload="auto">
            <source src="{{ url_for('.get_video_chunk', uuid=data.id) }}/video.m3u8" type="application/x-mpegURL">
              <p class="vjs-no-js">Votre navigateur n'est pas compatible...</p>
          </video>

          <div class="informations d-flex justify-content-between mt-3">
              <div>
                  <h1>{{ data.title }}</h1> {{ data.views|count }} vues<br>
                  <small>
                    {% for cat in data.tags %}
                     {{ "#" + cat.label }}
                    {% endfor %}</small>
              </div>
              <p><span>{{ data['date_publication'] }}</span><br>
                  <button type="button" class="btn btn-sm btn-outline-success mt-1">{{ data.likes|count }} likes <i class="fas fa-thumbs-up"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger mt-1">{{ data.dislikes|count }} dislikes<i class="fas fa-thumbs-down"></i></button>
              </p>
          </div>

          <div class="commentary">

          </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 text-dark">
        {{ data['description'] }}
      </div>
  </div>


</section>
{% endblock %}

{% block js %}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="https://www.unpkg.com/videojs-hls-quality-selector@1.0.5/dist/videojs-hls-quality-selector.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-quality-levels/2.0.9/videojs-contrib-quality-levels.min.js" integrity="sha512-zkCFMhOIASwe5fZfTUz26vG8miAAMOM6EzleZtBx28ZkCvhp7+6NVZC6iroJiNizWNh+pfQMgjo4Iv8ro9tSuw==" crossorigin="anonymous"></script>
<script>
    var player = videojs('videoPlayer');
   

    player.hlsQualitySelector({
        displayCurrentQuality: true,
    });
  </script> 
{% endblock %}