<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/icons/bootstrap-icons/bootstrap-icons.css">
        {% block title %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body>
        {% include 'layouts/navbar.html' %}
        {% block content %}{% endblock %}
    </body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</html>