{% extends 'layouts/app.html' %}

{% block title %}<title>Les réalisations</title>{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/jquery.typeahead.min.css" />
{% endblock %}
{% block content %}
<section class="container pt-5">
    <div class="d-flex justify-content-between">
        <h1>Les dernières réalisations visuelles</h1>

        <div class="typeahead__container">
            <div class="typeahead__field">
                <div class="typeahead__query">
                    <input class="search_by_tags" name="tags" placeholder="Rechercher" autocomplete="off">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        {% for image in images %}
        <div class="col-md-4 mb-5 videoSection" data-tags="{% for tag in image.tags %}{{tag.label}} {% endfor %}">
            <a href="{{ url_for('watch_image', uuid=image.id) }}">
                <img src="{{ url_for('get_thumbnail_file', uuid=image.id) }}" width="100%" class="img-fluid img-thumbnail"></img>
            </a>
            <p class="mb-0 mt-2"><a href="{{ url_for('watch_image', uuid=image.id) }}">{{ image.title }}</a></p>
            <div class="d-flex justify-content-between">
                <small>{{ image.views|count }} vues</small>
                <small>{{ image.user.username }}</small>
            </div>
        </div>
        {% endfor %}
    </div>

  </div>
</section>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery.typeahead.min.js"></script>
    <script type="text/javascript">
$.typeahead({
    input: '.search_by_tags',
    order: "desc",
    source: {
        data: [{% for tag in tags %}'{{tag.label}}'{% if not loop.last %}, {% endif %}{% endfor %}]
    },
    callback: {
        onInit: function (node) {
            console.log('Typeahead Initiated on ' + node.selector);
        },
        onClickAfter: function (node, a, item, event) {
            list = $('.videoSection');
            list.css('display', 'none');
            list.each((elt) => {
                $('[data-tags~="'+item.display+'"]').css('display', 'block')
            })
            console.log(item.display);
        },
        onCancel: function(node, event) {
            $('.videoSection').css('display', 'block');
        }
    }
});
</script>
{% endblock %}