{% extends 'layouts/app.html' %}

{% block title %}<title>Déposer une réalisation</title>{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/jquery.typeahead.min.css" />
{% endblock %}
{% block content %}
<section class="container pt-5">
    <h1>Déposer une réalisation</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-5 mb-5" role="alert">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" id="form-input" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row mt-5">    
            <div class="col-md-6 align-items-center">
                <div class="form-group mb-5">
                    {{ form.title.label }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control is-invalid") }}
                    {% else %}
                        {{ form.title }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 align-items-center">
                <div class="form-group">
                    {{ form.description.label }}

                    {% if form.description.errors %}
                        {{ form.description(class="form-control is-invalid") }}
                    {% else %}
                        {{ form.description }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.media.label }}

                    {% if form.media.errors %}
                        {{ form.media(class="form-control is-invalid") }}
                    {% else %}
                        {{ form.media }}
                    {% endif %}

                    <small id="inputFile" class="form-text text-muted">Les formats .png et .jpeg sont acceptés.</small>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    {{ form.private }}
                    {{ form.private.label(class="form-check-label") }}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            {{ form.tags }}
            <div class="col-md-6">
                <div class="typeahead__container">
                    <div class="typeahead__field">
                        <div class="typeahead__query">
                            <input class="list-tags" placeholder="Tags de la vidéo" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{ form.submit }}
        </div>
    </form>

  </div>
</section>
{% endblock %}

{% block js %}
<script src="/static/js/jquery.typeahead.min.js"></script>

<script type="text/javascript">
tags = [];

$("#form-input").submit(function(evt) {
    tags.forEach(element => {
        console.log(element)
        $("#list-tags option[value='" + element + "']").prop("selected", true);
    });

    return true;
});

typeof $.typeahead === 'function' && $.typeahead({
    input: '.list-tags',
    minLength: 1,
    maxItem: 8,
    maxItemPerGroup: 6,
    order: "asc",
    hint: true,
    searchOnFocus: true,
    blurOnTab: false,
    multiselect: {
        limit: 10,
        limitTemplate: 'You can\'t select more than 10 tags',
        matchOn: ["label"],
        cancelOnBackspace: true,
        callback: {
            onCancel: function (node, item, event) {
                index = tags.indexOf(item.id)
                if (index > -1) {
                    tags.splice(index, 1);
                }
            }
        }
    },
    templateValue: "{{ '{{label}}' }}",
    display: ["label"],
    emptyTemplate: "{{ 'no result for {{query}}' }}",
    source: {
        data: [{% for tag in tags %}{"id": "{{ tag.id }}","label": "{{tag.label}}"},{% endfor %}]
    },
    callback: {
        onClick: function (node, a, item, event) {
            tags.push(item.id);
        }
    }
});
</script>
{% endblock %}
