{% extends 'layouts/app.html' %}

{% block title %}<title>Test</title>{% endblock %}

{% block content %}
<section class="container-fluid p-5">
  <div class="row m-5">
      <div class="col-md-8">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{ url_for('.get_image_chunk', uuid=data.id) }}" alt="First slide">
              </div>
            </div>
          </div>
          <div class="informations d-flex justify-content-between mt-3">
              <div>
                  <h1>{{ data.title }}</h1> {{ data.views|count }} vues<br>
                  <small>
                    {% for cat in data.tags %}
                     {{ "#" + cat.label }}
                    {% endfor %}</small>
              </div>
              <p><span>{{ data['date_publication'] }}</span><br>
                  <button type="button" class="btn btn-sm btn-outline-success mt-1">{{ data.likes|count }} likes <i class="fas fa-thumbs-up"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger mt-1">{{ data.dislikes|count }} dislikes<i class="fas fa-thumbs-down"></i></button>
              </p>
          </div>

          <div class="commentary">


          </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 text-dark">
        {{ data['description'] }}
      </div>
  </div>


</section>
{% endblock %}
