{% extends 'layouts/app.html' %}

{% block title %}<title>Les réalisations vidéo</title>{% endblock %}

{% block content %}
<section class="container pt-5">
    <h1>Les dernières réalisations</h1>

    <div class="row mt-5">
        {% for video in videos %}
        <div class="col-md-4 mb-5">
            <a href="{{ url_for('watch_video', uuid=video.id) }}">
                <img src="https://picsum.photos/300/200" width="100%" class="img-fluid img-thumbnail"></img>
            </a>
            <p class="mb-0 mt-2"><a href="{{ url_for('watch_video', uuid=video.id) }}">{{ video.title }}</a></p>
            <div class="d-flex justify-content-between">
                <small>{{ video.views|count }} vues</small>
                <small>{{ video.user.username }}</small>
            </div>
        </div>
        {% endfor %}
    </div>

  </div>
</section>
{% endblock %}
