{% extends 'layouts/app.html' %}

{% block title %}<title>Déposer une réalisation</title>{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/jquery.typeahead.min.css" />
{% endblock %}
{% block content %}
<section class="container pt-5">
    <h1 class="text-center mb-5">Quel type de réalisation souhaitez-vous déposer ?</h1>

  <div class="row mt-5">
      <div class="col-md-4 offset-md-1 mt-5">
        <a href="{{ url_for('upload_image') }}" class="card text-body text-decoration-none">
          <div class="card-body text-center">
            <i class="bi bi-camera" style="font-size: 5em;"></i>
            <h1 class="mt-4 mb-4">Déposer une image</h1>
            <small>Une datavisualisation, ou tout autre fichier de type png, jpeg ou SVG</small>
          </div>
        </a>
        
      </div>
      <div class="col-md-4 offset-md-1 mt-5">
        <a href="{{ url_for('upload_video') }}" class="card text-body text-decoration-none">
          <div class="card-body text-center">
            <i class="bi bi-camera-reels" style="font-size: 5em;"></i>
            <h1 class="mt-4 mb-4">Déposer une vidéo</h1>
            <small>Un montage, vidéo ou tout autre fichier de type mpeg4 ou avi</small>
          </div>
        </a>
      </div>
  </div>
</section>
{% endblock %}